<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="provider" value="MYSQL" />
    <!--MSSQL = SQL SERVER , MYSQL = MYSQL-->
    
    <add key="server" value=".\SQLEXPRESS" />
    <!--<add key="server" value="localhost" />-->
    <add key="database" value="TesteAgenda" />
    <add key="user" value="sa" />
    
    <add key="password" value="jrc@123" />
    <!--<add key="password" value="123456" />-->
  </appSettings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	<add name="MySQLConnectionString" connectionString="Server=localhost;Database=academia_lr;Uid=root;Pwd=123456;"/>
	</connectionStrings>
</configuration>

--><!--<configuration>
  <connectionStrings>
    <add name="myConnectionString" connectionString="server=localhost;database=myDb;uid=myUser;password=myPass;" />
  </connectionStrings>
</configuration>-->  


